/* platinum color: #DFE2E7 */
/* red color: #A61C3C */

.info {
  background: #dfe2e7;
}

body {
  font-family: "Mr Dafoe", cursive;
  color: #dfe2e7;
  background: url("../img/architecture-billboard-buildings-2506923.jpg")
    center/cover fixed no-repeat;
}

.primary-color {
  color: #a61c3c;
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 2s ease-in-out;
}

.info a:hover {
  color: #242424;
}

/* header */

#header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/avocado-cuisine-delicious-684965.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  border-top: 6px dotted #dfe2e7;
  border-bottom: 6px dotted #dfe2e7;
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: #a61c3c;
  font-size: 2rem;
  border: 2px solid #a61c3c;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: #dfe2e7;
  border: 2px solid #dfe2e7;
  background: #a61c3c;
}

.sushi-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX-(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: #dfe2e7;
  border-radius: 10px;
  transition: all 2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: #242424;
}

@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* menu items */
.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 2s ease;
}

.item-img {
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: salmon;
  font-size: 2rem;
  border-top: 3px solid salmon;
  border-bottom: 3px solid salmon;
  transition: all 2s ease;
  opacity: 0;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover {
  color: #242424;
  border: 3px solid #dfe2e7;
  background: salmon;
}

.item-container:hover {
  outline: 10px solid #a61c3c;
  outline-offset: 0.8rem;
}

/* menu */
#menu {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
}

.special {
    border: 3px solid #a61c3c;
    position: relative;
}

.special-text {
    position: absolute;
    top: 0;
    right: 10%;
    background: #a61c3c;
    padding: 0 0.4rem;
}

/* about */

.about-pictures {
    position: relative;
}

.about-image {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;
}

.img-5 {
    left: 0%;
    top: 45%;
}

.about-image:hover {
    outline: 10px solid #a61c3c;
    outline-offset: 0.8rem;
    transform: scale(1.3) rotate(20deg);
    z-index: 30;
    opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
    opacity: 0.5;
}

/* review */
.review-img {
    width: 150px;
}